[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
pyyaml = "*"
arsenic = "*"
pyvirtualdisplay = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
bandit = "*"
pytest = "*"

[requires]
python_version = "3.9"
