[Unit]
Description=Whatsapp Web Bot
After=network.target

[Service]
Type=simple
User=
WorkingDirectory=/home//whatsappwebbot
ExecStart=/home//.local/bin/whatsappwebbot -d
#Restart=on-failure

[Install]
WantedBy=multi-user.target